/* cores */
.normal {
    background-color:  #A6A877;
}
.grass {
    background-color:  #77C850;
}
.fire {
    background-color:  #EE7F30;
}
.water {
    background-color:  #678FEE;
}
.electric {
    background-color:  #F7C72E;
}
.ice {
    background-color:  #98D5D7;
}
.ground {
    background-color:  #DFBF69;
}
.flying {
    background-color: #A98ff0;
}
.poison {
    background-color:  #A040A0;
}
.fighting {
    background-color:  #BF3020;
}
.psychic {
    background-color: #f65687;
} 
.dark {
    background-color: #725847;
}
.rock {
    background-color: #B8A137;
}
.bug {
    background-color: #A8B720;
}
.ghost {
    background-color: #6E5896;
}
.steel {
    background-color: #B9B7CF;
}
.dragon {
    background-color: #6F38F6;
}
.fairy {
    background-color: #F9AEC7;
}

body {
    background-color: #F6F8FC;
}

.content {
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

.content h1 {
    margin: 0;
}

.list-pokemons {
    margin: 0;
    padding: 0;
    list-style: none;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .number {
    color: #ccc;
    opacity: .9;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}

.pokemon .name a{
    text-decoration: none;
    color: inherit;
}

.pokemon .types {
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: uppercase;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types .type {
    color: black;
    opacity: .6;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.2);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 100px;
}

.pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
}

.voltar {
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    padding: 1rem .5rem;
    margin: 1rem 0;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.voltar:hover {
    background-color: #A98ff0;
}

#pokemonName {text-transform: capitalize;
}

@media screen and (min-width: 380px){
    .list-pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .list-pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
    }
}

@media screen and (min-width: 992px){
    .list-pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}